<div class="homepage">
<img src="https://static.wixstatic.com/media/db41b1_a94074dbb53b49ca8b15859b178edf13~mv2.jpg" class="homeImg">
  <div class="signup-container">
    <h3>Welcome to Vanity</h3>
    <hr/>
    <form action="/auth/signup" method="POST">
      <p>
        <label for="authEmail">Email</label>
        <input id="authEmail" class="form-control" type="email" name="email">
      </p>
      <p>
        <label for="authName">Name</label>
        <input id="authName" class="form-control" type="text" name="name">
      </p>
      <p>
        <label for="authPassword">Password</label>
        <input id="authPassword" class="form-control" type="password" name="password">
      </p>
      <input type="submit" class="submit-button" value="Sign Up!">
    </form>
  </div>
</div>