<div class="signup-container">
  <h3>Sign Up</h3>
  <form action="/auth/signup" method="POST">
    <p>
      <label for="authEmail">Email</label>
      <input id="authEmail" class="form-control" type="email" name="email">
    </p>
    <p>
      <label for="authName">Name</label>
      <input id="authName" class="form-control" type="text" name="name">
    </p>
    <p>
      <label for="authPassword">Password</label>
      <input id="authPassword" class="form-control" type="password" name="password">
    </p>
    <input class="btn btn-primary" type="submit">
  </form>
</div>