
<div class="homepage">
    <img src="https://cdn.luxuo.com/2015/08/Christian-Louboutin-lipsticks.jpg" class="homeImg">
    <div class="button-container">
        <button onclick="window.location.href = 'auth/signup'" class="submit-button">Sign Up Now</button>
        <p>Already a member?</p>
        <p><a href='auth/login'>Log In Here</a></p>
    </div>
</div>