
    <div class="button-container">
        <button onclick="window.location.href = 'auth/signup'" class="signup-btn">Sign Up Now</button>
        <p>Already a member?</p>
        <p><a href='auth/login'>Login Here</a></p>
    </div>