<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vanity</title>

    
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <div class="nav-container">
        <div>
          <h1>VANITY</h1>
          <% include partials/alerts %>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Menu</button>
          <div class="dropdown-content">
            <a href="/">Home</a>
            <% if (currentUser) { %>
              <a href="/profile">Profile</a>
              <a href="/makeup">Browse Categories</a>
              <a href="/auth/logout">Log Out</a>
              <% } else { %>
                <a href="/auth/signup">Sign Up</a>
                <a href="/auth/login">Log In</a>
                <% } %>    
          </div>
        </div>
      </div>
            
          <%- body %>
    </header>

    
  </body>
</html>
