<div class="show-container">
<% makeups.forEach((item) => { %>
    <% if (item) {%>
    <div class="showBox-container">
        <div class="show-box">
            <a href="/makeup/products/<%=item.name%>/">
                <img src="<%=item.image_link%>" class="showImg">
            </a>  
        </div>
        <div class="showTitle">
            <h3><%= item.name %></h3>
            <form method="POST" action="/profile">
                <input hidden type="text" name="id" value="<%= item.id %>">
                <button class="addbtn" type="submit">Add to Vanity</button>
            </form>
        </div>
    </div>
    <% } %>
<% }) %>     
</div>
